.node-red/flows.json
[{"id":"951f7032.e35b7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"12b2c7fc.cd3ec8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"436467ad.595208","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c51baad3.2570a","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"whpgmq.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"73404947.87e16","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"server","ssl":false},{"id":"12cb734f.133215","type":"postgresdb","z":"436467ad.595208","hostname":"localhost","port":"5432","db":"postgres","ssl":false},{"id":"7ddf5de8.1e3394","type":"mydbConfig","z":"","name":"server","host":"127.0.0.1","port":"5432","database":"server","ssl":false,"max":"10","min":1,"idle":"1000"},{"id":"32ea715b.d162ce","type":"ibmiot in","z":"951f7032.e35b7","authentication":"apiKey","apiKey":"c51baad3.2570a","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":220,"wires":[["18f9439b.827604","17bba1c5.e4389e","ef685013.679548"]]},{"id":"18f9439b.827604","type":"debug","z":"951f7032.e35b7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":60,"wires":[]},{"id":"17bba1c5.e4389e","type":"file","z":"951f7032.e35b7","name":"","filename":"CarProbeData.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":370,"y":420,"wires":[[]]},{"id":"5540cde3.80641c","type":"inject","z":"436467ad.595208","name":"JSON String","topic":"","payload":"{\"a\":1}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":220,"wires":[["313ada22.a63b56"]]},{"id":"313ada22.a63b56","type":"json","z":"436467ad.595208","name":"","property":"payload","action":"","pretty":false,"x":570,"y":220,"wires":[["e92b47d3.8362c8"]]},{"id":"e92b47d3.8362c8","type":"debug","z":"436467ad.595208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":220,"wires":[]},{"id":"d4f2b006.903be8","type":"inject","z":"436467ad.595208","name":"Object","topic":"","payload":"{\"a\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":260,"wires":[["d5a98355.5ffd8"]]},{"id":"d5a98355.5ffd8","type":"json","z":"436467ad.595208","name":"","property":"payload","action":"","pretty":false,"x":570,"y":260,"wires":[["fdd59fb.bde456"]]},{"id":"fdd59fb.bde456","type":"debug","z":"436467ad.595208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":260,"wires":[]},{"id":"ef685013.679548","type":"function","z":"951f7032.e35b7","name":"car-data-table","func":"var myDataArray = msg.payload.d;\n\nvar heading = myDataArray.heading;\nvar latitude = myDataArray.latitude;\nvar longitude = myDataArray.longitude;\nvar speed = myDataArray.speed;\nvar trip_id = myDataArray.trip_id;\n\n//msg.topic  = \"INSERT INTO `trip` (`trip_id`)      VALUES (\"+trip_id+\")\";\n//msg.payload.command = \"INSERT INTO location (heading, latitude, longitude, speed, trip_id) VALUES (\"+heading+\",\"+ latitude +\", \"+longitude+\", \"+speed+\", \"+trip_id+\")\";\nmsg.topic = \"msg.payload\";\n//msg.payload.command = \"select * from location;\"\n\nmsg.payload = [\n    {\n        query: 'INSERT INTO location (heading, latitude, longitude, speed, trip_id) VALUES ($head, $lat, $longe, $sp, $tid)',\n        params:{\n        head: heading,\n        lat: latitude,\n        longe: longitude,\n        sp: speed,\n        tid: trip_id,\n        },\n    },\n];\nreturn msg;\n","outputs":1,"noerr":0,"x":440,"y":240,"wires":[["dbd930e7.70093"]]},{"id":"dc007813.30a248","type":"inject","z":"12b2c7fc.cd3ec8","name":"","topic":"","payload":"[\"DO:do000:OFF\",\"DO:do001:OFF\",\"DO:do002:OFF\",\"DO:do003:OFF\",\"DO:do004:OFF\",\"DO:do005:OFF\",\"DO:do006:ON\",\"DO:do007:OFF\",\"DI:di000:OFF\",\"DI:di001:OFF\",\"DI:di002:OFF\",\"DI:di003:OFF\",\"DI:di004:OFF\",\"DI:di005:OFF\",\"DI:di006:OFF\",\"DI:di007:OFF\",\"XX:ai000:\",\"XX:ai001:\",\"XX:ai002:\",\"XX:ai003:\",\"XX:ai004:\",\"XX:ai005:\",\"XX:ai006:\",\"XX:ai007:\",\"DV:vt000:ON\",\"DV:vt001:OFF\",\"DV:vt002:OFF\",\"DV:vt003:OFF\",\"DV:vt004:OFF\",\"DV:vt005:OFF\",\"DV:vt006:OFF\",\"DV:vt007:OFF\",\"DV:vt008:OFF\",\"DV:vt009:OFF\",\"DV:vt010:OFF\",\"DV:vt011:OFF\",\"DV:vt012:OFF\",\"DV:vt013:OFF\",\"DV:vt014:OFF\",\"DV:vt015:OFF\",\"DV:vt016:OFF\",\"DV:vt017:OFF\",\"DV:vt018:OFF\",\"DV:vt019:OFF\",\"DV:vt020:OFF\",\"DV:vt021:OFF\",\"DV:vt022:OFF\",\"DV:vt023:OFF\",\"DV:vt024:OFF\",\"DV:vt025:OFF\",\"DV:vt026:OFF\",\"DV:vt027:OFF\",\"DV:vt028:ON\",\"DV:vt029:OFF\",\"DV:vt030:OFF\",\"DV:vt031:OFF\",\"DONE\"]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":200,"wires":[["faa4d322.928578"]]},{"id":"faa4d322.928578","type":"function","z":"12b2c7fc.cd3ec8","name":"convert","func":"obj = {};\nvar res;\n\nmsg.payload = JSON.parse(msg.payload);\n\nmsg.payload.forEach(function(item) {\n    res = item.split(\":\");\n    obj[res[1]] = res[2];\n})\nmsg.payload = obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":100,"wires":[["2bec7b19.7d007c"]]},{"id":"2bec7b19.7d007c","type":"debug","z":"12b2c7fc.cd3ec8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":200,"wires":[]},{"id":"e358a33a.4bc44","type":"debug","z":"951f7032.e35b7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.d.trip_id","targetType":"msg","x":760,"y":100,"wires":[]},{"id":"7ced6b1.c48d094","type":"debug","z":"951f7032.e35b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":320,"wires":[]},{"id":"500c6a5.7033f14","type":"inject","z":"436467ad.595208","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":"","x":260,"y":380,"wires":[["dff67b1d.9f66a8"]]},{"id":"4993ebe2.93c83c","type":"template","z":"436467ad.595208","name":"format query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select * from table1 where field2 > $param1","x":653,"y":378,"wires":[["a1a3d640.479568"]]},{"id":"a1a3d640.479568","type":"postgres","z":"436467ad.595208","postgresdb":"12cb734f.133215","name":"","output":true,"outputs":1,"x":820,"y":420,"wires":[["a2b20d7c.76d2c8","23bc5274.240bce"]]},{"id":"a2b20d7c.76d2c8","type":"debug","z":"436467ad.595208","name":"query output","active":false,"console":"false","complete":"true","x":1002,"y":500,"wires":[]},{"id":"23bc5274.240bce","type":"http request","z":"436467ad.595208","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:1880/incoming_data","tls":"","persist":false,"proxy":"","authType":"","x":1134,"y":381,"wires":[["ce75d7af.74689"]]},{"id":"ce75d7af.74689","type":"debug","z":"436467ad.595208","name":"http result","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1317,"y":381,"wires":[]},{"id":"dff67b1d.9f66a8","type":"function","z":"436467ad.595208","name":"setup params","func":"msg.queryParameters = msg.queryParameters || {};\nmsg.payload = [{\"id\":\"168f2030.e970e\",\"type\":\"postgresdb\",\"z\":\"d1b19967.2e4e68\",\"hostname\":\"localhost\",\"port\":\"5432\",\"db\":\"postgres\"}];\nreturn msg;","outputs":1,"noerr":0,"x":453,"y":376,"wires":[["4993ebe2.93c83c"]]},{"id":"7c9ce692.db83d","type":"http in","z":"436467ad.595208","name":"","url":"/incoming_data","method":"post","upload":false,"swaggerDoc":"","x":356,"y":796,"wires":[["4aa4a198.bb198","4c41ed45.85547c"]]},{"id":"f208a20.6a235e","type":"http response","z":"436467ad.595208","name":"","x":960,"y":812,"wires":[]},{"id":"4aa4a198.bb198","type":"debug","z":"436467ad.595208","name":"http input","active":false,"console":"false","complete":"payload","x":575,"y":904,"wires":[]},{"id":"4c41ed45.85547c","type":"function","z":"436467ad.595208","name":"reply to http call","func":"msg.payload='reply from http';\nreturn msg;","outputs":1,"noerr":0,"x":724,"y":746,"wires":[["f208a20.6a235e"]]},{"id":"dbd930e7.70093","type":"postgres","z":"951f7032.e35b7","postgresdb":"73404947.87e16","name":"","output":true,"outputs":1,"x":740,"y":240,"wires":[["7ced6b1.c48d094"]]},{"id":"d04b816a.33dd8","type":"mydb","z":"951f7032.e35b7","name":"","query":"","mydbConfig":"7ddf5de8.1e3394","output":false,"outputs":1,"x":630,"y":340,"wires":[["d9cbb38.a6ffd5"]],"icon":"node-red/leveldb.png"},{"id":"d9cbb38.a6ffd5","type":"debug","z":"951f7032.e35b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":400,"wires":[]}]