flows_bd.json
[{"id":"206bd4fb.714dd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4eab4d6a.6865ec","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8bc5e96e.688548","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"d27068b4.b06ae8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"whpgmq.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"65f30008.e2f7f","type":"mydbConfig","z":"","name":"postgres@127.0.0.1:5432/car-data","host":"127.0.0.1","port":"5432","database":"car-data","ssl":false,"max":"10","min":1,"idle":"1000"},{"id":"c73dfa8a.280c88","type":"ibmiot in","z":"206bd4fb.714dd8","authentication":"apiKey","apiKey":"d27068b4.b06ae8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":220,"wires":[["b8a82781.db71d8","f8293c7c.0fb0b8","39850e5a.6f9db6"]]},{"id":"b8a82781.db71d8","type":"debug","z":"206bd4fb.714dd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":140,"wires":[]},{"id":"f8293c7c.0fb0b8","type":"file","z":"206bd4fb.714dd8","name":"","filename":"CarProbeData.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":510,"y":420,"wires":[[]]},{"id":"a30ff246.9f035","type":"inject","z":"8bc5e96e.688548","name":"JSON String","topic":"","payload":"{\"a\":1}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":220,"wires":[["981f6953.bedd58"]]},{"id":"981f6953.bedd58","type":"json","z":"8bc5e96e.688548","name":"","property":"payload","action":"","pretty":false,"x":570,"y":220,"wires":[["7482ed4a.060d3c"]]},{"id":"7482ed4a.060d3c","type":"debug","z":"8bc5e96e.688548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":220,"wires":[]},{"id":"9b71f238.4b463","type":"inject","z":"8bc5e96e.688548","name":"Object","topic":"","payload":"{\"a\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":260,"wires":[["f5f1a9f3.b2be68"]]},{"id":"f5f1a9f3.b2be68","type":"json","z":"8bc5e96e.688548","name":"","property":"payload","action":"","pretty":false,"x":570,"y":260,"wires":[["21d3c4c2.eaf4f8"]]},{"id":"21d3c4c2.eaf4f8","type":"debug","z":"8bc5e96e.688548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":260,"wires":[]},{"id":"39850e5a.6f9db6","type":"function","z":"206bd4fb.714dd8","name":"car-data-table","func":"\nvar myDataArray = msg.payload;\nvar heading = myDataArray.d.heading;\nvar latitude = myDataArray.d.latitude;\nvar longitude = myDataArray.d.longitude;\nvar speed = myDataArray.d.speed;\nvar trip_id = myDataArray.d.trip_id;\n\nmsg.topic = \"INSERT INTO `car-data-table` (`heading`,`latitude`, `longitude`, `speed`, `trip_id`)      VALUES (\"+heading+\",\"+ latitude +\", \"+longitude+\", \"+speed+\", \"+trip_id+\")\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":480,"y":220,"wires":[["ce65dda7.fff4b","a9677a2c.8daad"]]},{"id":"be56846c.044718","type":"inject","z":"4eab4d6a.6865ec","name":"","topic":"","payload":"[\"DO:do000:OFF\",\"DO:do001:OFF\",\"DO:do002:OFF\",\"DO:do003:OFF\",\"DO:do004:OFF\",\"DO:do005:OFF\",\"DO:do006:ON\",\"DO:do007:OFF\",\"DI:di000:OFF\",\"DI:di001:OFF\",\"DI:di002:OFF\",\"DI:di003:OFF\",\"DI:di004:OFF\",\"DI:di005:OFF\",\"DI:di006:OFF\",\"DI:di007:OFF\",\"XX:ai000:\",\"XX:ai001:\",\"XX:ai002:\",\"XX:ai003:\",\"XX:ai004:\",\"XX:ai005:\",\"XX:ai006:\",\"XX:ai007:\",\"DV:vt000:ON\",\"DV:vt001:OFF\",\"DV:vt002:OFF\",\"DV:vt003:OFF\",\"DV:vt004:OFF\",\"DV:vt005:OFF\",\"DV:vt006:OFF\",\"DV:vt007:OFF\",\"DV:vt008:OFF\",\"DV:vt009:OFF\",\"DV:vt010:OFF\",\"DV:vt011:OFF\",\"DV:vt012:OFF\",\"DV:vt013:OFF\",\"DV:vt014:OFF\",\"DV:vt015:OFF\",\"DV:vt016:OFF\",\"DV:vt017:OFF\",\"DV:vt018:OFF\",\"DV:vt019:OFF\",\"DV:vt020:OFF\",\"DV:vt021:OFF\",\"DV:vt022:OFF\",\"DV:vt023:OFF\",\"DV:vt024:OFF\",\"DV:vt025:OFF\",\"DV:vt026:OFF\",\"DV:vt027:OFF\",\"DV:vt028:ON\",\"DV:vt029:OFF\",\"DV:vt030:OFF\",\"DV:vt031:OFF\",\"DONE\"]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":200,"wires":[["d6652256.4b7a1"]]},{"id":"d6652256.4b7a1","type":"function","z":"4eab4d6a.6865ec","name":"convert","func":"obj = {};\nvar res;\n\nmsg.payload = JSON.parse(msg.payload);\n\nmsg.payload.forEach(function(item) {\n    res = item.split(\":\");\n    obj[res[1]] = res[2];\n})\nmsg.payload = obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":100,"wires":[["60fc48b6.84abd"]]},{"id":"60fc48b6.84abd","type":"debug","z":"4eab4d6a.6865ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":200,"wires":[]},{"id":"ce65dda7.fff4b","type":"debug","z":"206bd4fb.714dd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.d.heading","targetType":"msg","x":810,"y":180,"wires":[]},{"id":"a9677a2c.8daad","type":"mydb","z":"206bd4fb.714dd8","name":"","query":"","mydbConfig":"65f30008.e2f7f","output":true,"outputs":1,"x":790,"y":240,"wires":[[]]}]